<!DOCTYPE html>
<html>
    <head>
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    </head>
    <body>
        <p>doi: <%= "#{ @doi }" %> </p>
        <p>link: <%= @link %> </p>
        <p>email: <%= @email %> </p>
        <p>comments: <%= @comments %> </p>
    </body>
</html>